# Node modules
node_modules/
.git

# Logs
logs/
*.log

# Environment variables
.env

# System files
.DS_Store

# Compiled files
*.class
*.pyc
__pycache__/

# Dependency directories
vendor/

myenv/

*.sqlite3

*.rdb
*.db
venv/

